<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<h2>REGISTRATION</h2>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="UserName"
               style= "background-color:coral;padding:10px;border: 2px solid black;font-size:100%;font-family:verdana;text-align:center;"><br>
           <input type="text" name="first_name" placeholder="Enter your first name"
           style= "background-color:coral;padding:10px;border: 2px solid black;font-size:100%;font-family:verdana;text-align:center;"><br>
           <input type="text" name="last_name" placeholder="Enter your last name"
            style= "background-color:coral;padding:10px;border: 2px solid black;font-size:100%;font-family:verdana;text-align:center;"><br>
           <input type="email" name="email" placeholder="Enter your email address"
            style= "background-color:coral;padding:10px;border: 2px solid black;font-size:100%;font-family:verdana;text-align:center;"><br>
           <input type="password" name="password" placeholder="Enter your password"
            style= "background-color:coral;padding:10px;border: 2px solid black;font-size:100%;font-family:verdana;text-align:center;"><br>
           <input type="password" name="password1" placeholder="confirm your password"
                  style= "background-color:coral;padding:10px;border: 2px solid black;font-size:100%;font-family:verdana;text-align:center;"><br><br>

         <input type="submit"
          style= "background-color:grey;padding:10px;border: 2px solid black;font-size:100%;font-family:verdana;text-align:center;">

</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>